html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg {
  /* The image used */
  background-image: url("BG.jpeg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#sketch-holder {
  padding-left: 109px;
  padding-right: 109px;
  padding-top: 130px;
  margin-left: auto;
  margin-right: auto; //width: 300px;
  dispaly: fixed;
}

#clickB {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  dispaly: fixed;
}

.click {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: 'Poiret One', cursive;
  color: #0f0e0f;
  font-size: 22px;
  /* background: #759fb3; */
  margin-left: 30px;
  margin-right: 30px;
  margin-top:10px;
  text-decoration: none;
}

.click:hover {
  background: #0b6a99;
  text-decoration: none;
}

.readresult {
  font-size: 20px;
}

#resultstyling {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 400px;
  dispaly: fixed;
}
button {
  padding: 30px 10px 30px 10px;
  margin-right: 50px;
  margin-left:50px;

}

#shuaxin {

  padding-bottom: :30px;
  background: url(refreshIcon.svg) no-repeat top left;
  background-size: contain;
  border:none;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#jisuan {

padding-bottom: :30px;
  background: url(lock.svg) no-repeat top left;
  background-size: contain;
  border:none;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  width: 40px;
}

#gushi {
  padding-bottom: :30px;
  background: url(study.svg) no-repeat top left;
  background-size: contain;
  border:none;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  width: 40px;
}
